# Force C++ to be the primary language by setting a higher weight
*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.cc linguist-language=C++
*.hh linguist-language=C++
*.h linguist-language=C++
*.cxx linguist-language=C++
*.hxx linguist-language=C++
*.inl linguist-language=C++

# Set QML files as QML but do not change the overall project language
*.qml linguist-language=QML

# Qt-related files classified but set as low impact
*.pro linguist-language=C++
*.pri linguist-language=C++
*.ui linguist-language=XML
*.qrc linguist-language=XML

# Reduce the QML impact on overall language stats
*.qml linguist-detectable=false
