# Classify C++ source files
*.cpp linguist-language=C++
*.hpp linguist-language=C++
*.cc linguist-language=C++
*.hh linguist-language=C++
*.h linguist-language=C++
*.cxx linguist-language=C++
*.hxx linguist-language=C++
*.inl linguist-language=C++

# Classify QML files
*.qml linguist-language=QML

# Qt-related files classified correctly
*.pro linguist-language=C++
*.pri linguist-language=C++
*.ui linguist-language=XML
*.qrc linguist-language=XML
